{% include 'header.html' %}
        <main>
            <div>
                <p>Ingresa el largo en metros</p>
                <input id="largo"class="input-welcome" type="number" placeholder="Asegurate que sea un numero">
                
                <p>Ingresa el ancho en metros</p>
                <input id="ancho"class="input-welcome" type="number" placeholder="Asegurate que sea un numero">

                <p>Ingresa el precio en pesos</p>
                <input id="precio"class="input-welcome" type="number" placeholder="Asegurate que sea un numero">

            </div>
                <div class="button-container">
                <button id="btn-calcular"class="button-ok">Calcular</button>

                </div>
            <div>
<div class="tenor-gif-embed" data-postid="15731569881165918810" data-share-method="host" data-aspect-ratio="1.33155" data-width="50%"><a href="https://tenor.com/view/nossa-build-erthosoconstrutor-bob-gif-15731569881165918810">Nossa Build Erthosoconstrutor GIF</a>from <a href="https://tenor.com/search/nossa+build-gifs">Nossa Build GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>        </main>
<script src="{{ url_for('static', filename='js/azulejos.js')}}"></script>
{% include 'footer.html' %}