{% include 'header.html' %}

        <main>
            <div>
                <p>Escribe tu nombre </p>
                <input id="input-name" class="input-welcome" type="text" placeholder="Escribelo aqui">
                <button class="button-ok" id="btn-ok">Aceptar</button>
            </div>
            <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGRrcGhjYzN5M2V3ODRjbDU0eWo2OTVwbTA0OXhuajJxcGF2ZmphMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6MWahPArixa6I/giphy.gif" alt="Gif desde web">
        </main>
{% include 'footer.html' %}