{% include 'header.html' %}
        <main>
            <div>
                <p>Ingresa un número </p>
                <input id="input-value1" class="input-welcome" type="number" placeholder="Asegúrate que sea un número">
                

                <p>Ingresa otro número </p>
                <input id="input-value2" class="input-welcome" type="number" placeholder="Asegúrate que sea un número">

                <button class="button-suma" id="btn-sumar">Sumar</button>

                <button class="button-resta" id="btn-restar">Restar</button>

                <button class="button-multiplicar" id="btn-multiplicar">Multiplicar</button>

                <button class="button-division" id="btn-division">División</button>
            </div>
        </main>
        <script src="{{ url_for('static', filename='js/math.js')}}"></script>
{% include 'footer.html' %}