{% include 'header.html' %}

        <main>
            <div>
                <form method=post action="/money">
                 <p>Escribe cuantos pesos quieres transformar a dólares </p>
                <input id="input-money" name="input-money" class="input-welcome" type="float" placeholder="Escribe aquí la cantidad en pesos...">
                <button class="button-ok" type="submit">Aceptar</button>

                </form>
                
            </div>
        </main>

{% include 'footer.html' %}